<div>
 <h1>Bienvenido</h1>

 
 <p>Podes probar las funcionalidades de los protocolos http, con las siguientes rutas:
<br>
<br><br>


<a href="/api/products">
  /api/products => Para la carga de productos en la base de datos de mongo <br> 
</a>

<a href="/api/carts">
  /api/carts => Para la creacion y carga de productos en carritos de compra.  <br>
</a>

<a href="/api/chat">
/api/chat => Para probar la funcionalidad de chat, estos mensajes son guardados en la base de datos de mongo. <br>
</a>

<a href="/api/session/login">
  Haz click aca para iniciar sesion. 
</a>
<br>
<a href="/api/session/register">
  Haz click aca para registrarse.
</a>
<br>
<a href="/api/session/current">
  Informacion sobre la sesion actual
</a>
<br>
<a href="/api/products/mockingproducts">
  Mocking products
</a>
<br>
<a href="/api/loggertest">
  Prueba de logueo segun entorno de desarrollo
</a>









 </p>

  </div>
