<div>
 <h1>Bienvenido</h1>

 
 <p>Podes probar las funcionalidades de los protocolos http, con las siguientes rutas:
<br>
<br><br>
/api/products => Para la carga de productos en la base de datos de mongo <br> 
/api/carts => Para la creacion y carga de productos en carritos de compra. <br>
/chat => Para probar la funcionalidad de chat, estos mensajes son guardados en la base de datos de mongo. <br>
 </p>

 <h2>Espero que esta informacion sea de ayuda</h2>
  </div>