<div  class="form-login">
  <h1> Inicio de Sesión </h1>
  <form action="/session/login" method="post">
    <input type="text" name="email" placeholder="Email" class="controls">
    <input type="text" name="password" placeholder="Password" class="controls">
    <button class="buttons" type="submit">Iniciar Sesion</button>
  </form>

  <p class="register"><a  class="enlace"  href="/register"> Registrese </a></p>  
</div>