<div class="form-login">
    <p class="profilep"> Bienvenido: {{ user.first_name }} {{ user.last_name }} ! </p>  


  <div class="profileul">
     <p class="profileEmail">Email:  {{ user.email}}  </p>
     <p class="profileEmail">Rol:  {{ user.role}} </p> 
     <p class="profileEmail">Password:  No se puede mostrar</p>
  </div>



 

   <p class="register"> <a href="/session/logout"> Cerrar Sesion </a>  </p>
</div>