<div class="form-register">
  <h1> Registro </h1>
  <form action="/session/register" method="post" class="formulario">
    <input type="text" name="first_name" placeholder="First Name" class="controls" />
    <input type="text" name="last_name" placeholder="Last Name" class="controls" />
    <input type="email" name="email" placeholder="Email"  class="controls"/>
    <input type="password" name="password" placeholder="Password"  class="controls"/>
    

    <select class="form-select" name="role" id="">
      <option value="user" selected>User</option>
      <option value="admin">Admin</option>

    </select>

    <button class="buttons" type="submit">Registrarse</button>
  </form>
    
</div>