<div id="login-form">


<button >
<a href="/login">
Iniciar sesion
</a></button>

<button >
<a href="/session/github">
Entrar con Github
</a></button>


<button >
<a href="/register">
Registrarse
</a></button>



</div>