<div id="login-form-wrap">
  <h2>Login</h2>
  <form action="/session/login" method="POST" id="login-form">
    
    <p>
    <input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="password" id="username" name="password"  required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <button type="submit">Iniciar sesion</button>
    </p>
  </form>
  <div id="create-account-wrap">
    <p><a href="/register"> Registrarse</a><p>
  </div>
</div>